################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
DND Character Sheet/obj/
DND Character Sheet Unit Tests/obj/
DND Character Sheet/bin/
DND Character Sheet Unit Tests/bin/
Packaging Project/bin
Packaging Project/AppPackages
Packaging Project/obj